<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swzl.mapper.ItemTypeMapper">

    <select id="queryItemTypelist" resultType="itemType">
      SELECT * FROM itemtype
    </select>

    <select id="queryItemTypeByName" resultType="itemType">
        SELECT * FROM itemtype WHERE name=#{name}
    </select>
    
    <select id="queryItemById" resultType="itemType">
        SELECT * FROM itemtype WHERE id=#{typeId}
    </select>
</mapper>